<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <ul class="nav justify-content-between menu">
    <li class="nav-item">
      <a class="nav-link imgCabecera" [routerLink]="['inicio']"><img src="./assets/img/frutas.jpg" alt="Imagen-frutas"></a>
    </li>

  <div>
    <li class="nav-item">
      <a class="nav-link btn btn-angular" [routerLink]="['listado']">Zona privada</a>
    </li>
    <li *ngIf="isLogged()" class="nav-item mt-2">
      <button (click)="logout()" class="btn btn-cerrar-sesion">Cerrar sesión</button>
    </li>
  </div>

  </ul>

  <!-- Donde se carga cada Componente en función de la ruta -->
  <router-outlet></router-outlet>
</div>
