
<div class="row justify-content-between mb-4 mt-2">
  <h2>Listado de Frutas</h2>
  <a [routerLink]="['../formulario', -1]" class="btn btn-angular btn-crear">Crear nueva</a>
</div>

<table id="tablaFrutas" class="display" style="width:100%">
  <thead>
      <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Calorías</th>
          <th>Oferta</th>
          <th>Descuento</th>
          <th>Imagen</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let f of frutas">
          <td><a [routerLink]="['../formulario', f.id]" class="text-danger">{{f.nombre}}</a></td>
          <td>{{(f.precio - (f.descuento * f.precio) / 100) | number: '1.0-2': 'es'}}</td>
          <td>{{f.calorias}}</td>
          <td>{{(f.oferta)? 'Sí' : 'No'}}</td>
          <td>{{f.descuento}}</td>
          <td><img src="{{f.imagen}}" alt="Imagen_fruta" class="imgFruta" /></td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Calorías</th>
          <th>Oferta</th>
          <th>Descuento</th>
          <th>Imagen</th>
      </tr>
  </tfoot>
</table>
