/* You can add global styles to this file, and also import other style files */

:root {
    --color-angular: #DD0031; 
    --color-verde-calorias: #50A13B; 
    --color-white: #fff; 
    --color-black: #000; 
}

img{
    max-width: 100%;
}