/* You can add global styles to this file, and also import other style files */

:root {
    --color-angular: #DD0031; 
    --color-verde-calorias: #50A13B; 
    --color-white: #fff; 
    --color-black: #000; 
}

img{
    max-width: 100%;
}

.btn-angular{
    background-color: var(--color-angular);
    color: var(--color-white);
}

.btn-angular:hover{
    color: var(--color-angular) !important;
    background-color: var(--color-white);
    border-color: var(--color-angular);
}

.btn-angular:focus{
    box-shadow: none;
}

.valido:focus{
    border-color:#ced4da;
    box-shadow: 0px 0px 5px 1px rgba(0,255,0,1);
}

.invalido:focus{
    border-color:#ced4da;
    box-shadow: 0px 0px 5px 1px rgba(255,0,0,1);
}